@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fuente: 'Montserrat', sans-serif;

    --blanco: #ffffff;
    --negro: #000000;

    --fondo: #b9abb2;
    --complementoFondo: linear-gradient(75deg, #b9abb2 0%, #705f7d 50%, #0c0c0c 100%);

}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/**globales**/

body {

    font-size: 1.6rem;
    line-height: 2rem;
    /*interlineado para la fuente*/
    color: var(--blanco);
    position: relative;
    background-color: var(--fondo);
    background-image: var(--complementoFondo);
}


@media (min-width:768px) {
    body {
        overflow-x: hidden;
        /* desactivar el scroll del mouse izq-der*/
        overflow-y: hidden;
        /* desactivar el scroll del mouse arriba y abajo*/
    }
}



p {
    font-family: var(--fuente);
}

h2 {
    font-family: var(--fuente);
    font-weight: lighter;
}


h1,
h2,
h3 {
    text-align: center;
}





a {
    text-decoration: none;
    font-family: var(--fuente);
    color: var(--blanco);
}

a:hover {
    color: var(--efecto);
}



ul,
li {
    list-style: none;
}

img {
    min-width: 100%;
}

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

/**utilidades**/

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.full-heigth {
    height: 100vh;
    /*asigna al div o contenedor el 100% de la pantalla*/
}



/*fixed*/



.fixed {
    position: fixed;
    top: 4rem;
    left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.fixed__menu {
    /* display: flex;
    flex-direction: column;
    align-content: center; */
    width: 20rem;
    margin: 1rem 0;
}


.fixed__menu a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    align-items: center;
    color: white;
    gap: 1rem;
}


.fixed__menu img {
    width: 34px;
    height: 34px;

}

.ocultar {
    display: none;
}

/*end fixed*/

/*ocultar menu fijo*/
@media (min-width:768px) {
    .ocultar {
        display: block;
    }
}


/* Termina ocultar menu fijo*/


.chome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.chome h1 {
    font-family: var(--fuente);
    font-weight: lighter;
    font-size: 4rem;
    line-height: 1rem;
}

.chome p {
    font-weight: lighter;
    font-size: 2rem;

}


@media (min-width:768px) {
    .chome {
        margin-top: -1rem;
        line-height: 0;
    }

    .chome h1 {
        font-size: 8rem;
    }

}

/*Seccion acerca de mi*/


.cinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.cinfo__cabecera {
    flex: 1 1 auto;
}

.cinfo__cabecera h2 {
    font-weight: lighter;
    font-size: 3rem;
}

.cinfo__foto {
    flex: 1 1 auto;
}

.cinfo__foto img {
    height: 15rem;
    width: 15rem;
}


.cinfo__contenido {
    flex: 1 1 auto;
    text-align: center;
    line-height: 2rem;
    font-weight: lighter;
}

@media (min-width:768px) {
    .cinfo {
        padding-top: 10rem;
        gap: 3rem;
    }

    .cinfo__cabecera h2 {
        font-size: 4rem;

    }

    .cinfo__contenido p {
        text-align: justify;
        font-size: 2rem;
        line-height: 3rem;
        font-weight: lighter;
    }
}





/* Proyectos */



.cproyectos_contenido img {
    height: 20rem;
    width: 35rem;
    border-radius: 8px;
    object-fit: cover;
    background-repeat: no-repeat;

}

.div1__texto {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-weight: 400;
}



@media (min-width:768px) {



    .cproyectos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding-bottom: 10rem;
    }

    .cproyectos h2 {
        padding-top: 10rem;
        font-size: 4rem;
        font-weight: lighter;
    }

    .cproyectos_contenido {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding-bottom: 10rem;
    }

    .grupo1 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .div1__flex {
        border-radius: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #705f7d;
    }


}


/*carrusel*/

.ctecno{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.icon-slider {
    width: 100%; /* Ancho del contenedor */
    overflow: hidden; /* Oculta los íconos que se salen del contenedor */
    margin: 0; /* Quita el margen del contenedor */
    padding: 10px 0; /* Espacio vertical alrededor de los íconos */
    height: 30rem;
    display: flex;

}

.icon-track {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5rem; /* Espacio entre los íconos */
    animation: scroll 25s linear infinite; /* Controla la animación */
    width: max-content;
}

.icon-track i {
    color: #fff; /* Color de los íconos */
    font-size: 5rem; /* Tamaño de los íconos */
}



/* Animación para desplazar los íconos de izquierda a derecha */
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.slider-container {
    width: 30rem; /* Ajusta el ancho según necesites */
    height: 200px; /* Ajusta la altura según necesites */
    overflow: hidden; /* Oculta los elementos que están fuera del área visible */
    position: relative;
    border: 2px solid #333; /* Bordes opcionales para el contenedor */
}

.slider-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Comienza fuera del contenedor */
    animation: slide-up 10s linear infinite; /* Configuración de la animación */
}

.slide {
    width: 100%;
    height: 200px; /* Igual a la altura del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
  
    border-bottom: 2px solid #fff; /* Separador entre slides */
}

/* Animación para deslizar de abajo hacia arriba */
@keyframes slide-up {
    0% {
        top: 100%;
    }
    100% {
        top: -500%; /* Ajusta este valor para que el contenido completo pase */
    }
}

.icon-slider2 {
    width: 200px; /* Ajusta el ancho del contenedor */
    height: 200px; /* Ajusta la altura del contenedor */
    overflow: hidden; /* Oculta los íconos que se salen del contenedor */
    position: relative;
    border: 2px solid #333; /* Bordes opcionales para el contenedor */
}

.icon-track2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    animation: scroll-down 10s linear infinite; /* Configura la animación */
}

.icon-track2 i {
    font-size: 5rem; /* Tamaño de los íconos */
    color: #fff; /* Color de los íconos */
    margin: 10px 0; /* Espacio entre íconos */
}

/* Animación para deslizar de arriba hacia abajo */
@keyframes scroll-down {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}





/* Contacto */

.ccontacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 0;
    padding-left: 3rem;
    padding-right: 2rem;
    /* border: solid 2px #ffffff; */
}

.ccontacto h2 {
    
    font-weight: lighter;
    font-size: 4rem;
    color: var(--blanco);
}

.ccontacto p {
    
    font-weight: lighter;
    font-size: 2.5rem;
    color: var(--blanco);
    padding-bottom: 5rem;
}

.ccontacto form {
    font-family: var(--fuente);
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 3rem;
    font-size: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 100%;
}

.parent input {
    border: none;
    /* Elimina todos los bordes */
    border-bottom: 2px solid var(--blanco);
    /* Agrega solo el borde inferior */
    background: none;
    /* Elimina el fondo del input */
    outline: none;
    /* Elimina el borde de enfoque predeterminado */
    padding-bottom: 2rem;
}

.parent input::placeholder {
    color: var(--fondo);
}


.div1 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2;
    gap: 3rem;
    width: 100%;
    
}




.div2 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
    gap: 3rem;
    
}

.div3 {
    grid-area: 2 / 1 / 3 / 3;
    gap: 3rem;
}

.div3 input {
    width: 100%;
    padding-top: 3rem;
}



.div4 {
    grid-area: 3 / 1 / 4 / 3;
    align-content: center;
    text-align: center;
    padding-top: 3rem;
}

.div4 button {
    border: 2px solid var(--blanco);
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50%;
    background: none;
    color: var(--blanco);
    
}

.div4 button i {
    font-size: 2rem; /* Ajusta el tamaño del ícono */
    
}


/*footer*/


.footer {
    position: fixed;
    bottom: 0;
    background-image: var(--complementoFondo);
    width: 100%;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.fixed__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}

.fixed__footer img {

    height: 24px;
    width: 24px;
}