@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fuente: 'Montserrat', sans-serif;

    --blanco: #ffffff;
    --negro: #000000;

    --fondo: #b9abb2;
    --complementoFondo: linear-gradient(75deg, #b9abb2 0%, #705f7d 50%, #0c0c0c 100%);

}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/**globales**/

body {

    font-size: 1.6rem;
    line-height: 2rem;
    /*interlineado para la fuente*/
    color: var(--blanco);
    position: relative;
    background-color: var(--fondo);
    background-image: var(--complementoFondo);
}

/*
@media (min-width:768px) {
    body {
        overflow-x: hidden;
        /* desactivar el scroll del mouse izq-der*/
/* overflow-y: hidden;
        /* desactivar el scroll del mouse arriba y abajo*/
/*  }
}

*/

p {
    font-family: var(--fuente);
}

h2 {
    font-family: var(--fuente);
}


h1,
h2,
h3 {
    text-align: center;
}





a {
    text-decoration: none;
    font-family: var(--fuente);
    color: var(--blanco);
}

a:hover {
    color: var(--efecto);
}



ul,
li {
    list-style: none;
}

img {
    min-width: 100%;
}

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

/**utilidades**/

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.full-heigth {
    height: 100vh;
    /*asigna al div o contenedor el 100% de la pantalla*/
}



/*fixed*/



.fixed {
    position: fixed;
    top: 4rem;
    left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.fixed__menu {
    /* display: flex;
    flex-direction: column;
    align-content: center; */
    width: 20rem;
    margin: 1rem 0;
}


.fixed__menu a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    align-items: center;
    color: white;
    gap: 1rem;
}


.fixed__menu img {
    width: 34px;
    height: 34px;

}

.ocultar {
    display: none;
}

/*end fixed*/

/*ocultar menu fijo*/
@media (min-width:768px) {
    .ocultar {
        display: block;
    }
}


/* Termina ocultar menu fijo*/


.chome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.chome h1 {
    font-family: var(--fuente);
    font-weight: lighter;
    font-size: 4rem;
    line-height: 1rem;
}

.chome p {
    font-weight: lighter;
    font-size: 2rem;

}


@media (min-width:768px) {
    .chome {
        margin-top: -1rem;
        line-height: 0;
    }

    .chome h1 {
        font-size: 8rem;
    }

}

/*Seccion acerca de mi*/


.cinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.cinfo__cabecera {
    flex: 1 1 auto;
}

.cinfo__cabecera h2 {
    font-weight: lighter;
    font-size: 3rem;
}

.cinfo__foto {
    flex: 1 1 auto;
}

.cinfo__foto img {
    height: 15rem;
    width: 15rem;
}


.cinfo__contenido {
    flex: 1 1 auto;
    text-align: center;
    line-height: 2rem;
    font-weight: lighter;
}

@media (min-width:768px) {
    .cinfo {
        padding-top: 10rem;
        gap: 3rem;
    }

    .cinfo__cabecera h2 {
        font-size: 4rem;

    }

    .cinfo__contenido p {
        text-align: justify;
        font-size: 2rem;
        line-height: 3rem;
        font-weight: lighter;
    }
}





/* Proyectos */



.cproyectos_contenido img {
    height: 20rem;
    width:35rem;
    border-radius: 8px;
    object-fit: cover;
    background-repeat: no-repeat;
    
}

.div1__texto {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-weight: 400;
}



@media (min-width:768px) {



.cproyectos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-bottom: 10rem;
}

.cproyectos h2{
    padding-top: 10rem;
    font-size: 4rem;
    font-weight: lighter;
}

.cproyectos_contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-bottom: 10rem;
}

.grupo1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.div1__flex {
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #705f7d;
}





}



.footer{
    position: fixed;
    bottom: 0;
    background-image: var(--complementoFondo);
    width: 100%;
    border: none;


}

.fixed__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}